.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-32);
  margin-top: var(--space-24);
}

.pageInfo {
  > h1 {
    font-size: var(--fs-32);
    font-weight: var(--fw-500);
    line-height: 46px;
  }

  > p {
    line-height: 24px;
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .pageInfo {
    > h1 {
      font-size: var(--fs-24);
      line-height: 32px;
    }

    > p {
      font-size: var(--fs-14);
      line-height: 20px;
    }
  }

  .root {
    margin-bottom: var(--space-24);
    margin-top: var(--space-20);
  }
}
