.nav {
  > ul {
    list-style-type: none;

    > li {
      &:has(+ li) {
        margin-bottom: 5px;
      }
    }
  }

  [data-separator] {
    height: 1px;
    width: 100%;
    background: var(--border-color);
    margin: var(--section-margin) 0;
  }
}

.link {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: var(--radii-4);
  font-weight: var(--fw-500);
  padding: 0 var(--space-12);
  //color: rgb(255, 255, 255, 0.65);
  transition: background-color 0.15s ease-in-out;

  > svg {
    font-size: 18px;
  }

  &[data-active='true'] {
    background-color: var(--purple);
    color: white;
  }

  &[data-working='false'] {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-offset: 3px;
    outline: var(--focus-color) solid 2px;
    transition: none;
  }
}

@media (hover: hover) {
  .link:hover:not([data-active='true']) {
    background-color: var(--hover-color);
  }
}
